<li class="orders"><a href="/account/">Orders</a></li>
{% comment %}<li class="account-settings"><a href="#">Account Settings</a></li>{% endcomment %}
<li class="shipping-addresses"><a href="/account/addresses">Shipping Addresses</a></li>
{% comment %}<li class="payment-methods"><a href="#">Payment Methods</a></li>{% endcomment %}
<li class="Sign Out">{{ 'Sign out' | customer_logout_link }}</li>