<div class="ui vertical sidebar menu inverted right visible-phone">
    <a class="item js-menu-mobile">
    &times;
    </a>
    <a href="/" class="item">
        <i class="icon-home icon-white"></i> Home
    </a>
    <a href="/cart" class="item">
        <i class="icon-shopping-cart icon-white"></i> My Shopping Bag
    </a>
    <a href="#" class="item"> Shop Mens </a>
    <a href="#" class="item"> Shop Womens </a>
    <div class="item">
        <b>Discover</b>
        <div class="menu">
            <a href="#" class="item"> California Stories </a>
            <a href="#" class="item"> he Fitting Room </a>
            <a href="#" class="item"> Parking Space Sessions </a>
        </div>
    </div>
    <div class="item">
        <b> The Legend Series </b>
        <div class="menu">
            <a class="item" href="#"> VW Beetle Giveaway </a>
            <a class="item" href="#"> The SeaVees Legend </a>
            <a class="item" href="#"> The Legend Series </a>
        </div>
    </div>
    <a href="#" class="item"> Orders and Shipping </a>
    <a href="#" class="item"> Returns / Exchanges </a>
</div>
